In [11]:
import pandas as pd
from geopy.geocoders import Nominatim

# Function to get latitude and longitude
def get_lat_long(location_name):
    geolocator = Nominatim(user_agent="geoapiExercises")
    location = geolocator.geocode(location_name)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

# List of locations to geocode
locations = [
    "Express Avenue Mall",
    "Chennai Citi Center",
    "Chennai Lighthouse",
    "Marina Beach",
    "Semmozhi Poonga",
    "Sai Baba Temple Mylapore",
    "Ampa Skywalk mall"
]

# Prepare data for DataFrame
data = []
for location in locations:
    lat, lon = get_lat_long(location)
    data.append({
        "name": location,
        "Latitude": lat,
        "Longitude": lon
    })

# Create a DataFrame
df = pd.DataFrame(data)

# Save DataFrame to CSV
df.to_csv("locations_with_lat_lon.csv", index=False)

print("Data has been saved to locations_with_coordinates.csv")

Data has been saved to locations_with_coordinates.csv

In [26]:
df = pd.read_csv('locations_with_lat_lon.csv')
df

                       name   Latitude  Longitude
0       Express Avenue Mall  13.058821  80.264103
1       Chennai Citi Center  13.043025  80.273870
2        Chennai Lighthouse  13.039716  80.279442
3              Marina Beach  13.053275  80.283289
4           Semmozhi Poonga  13.050626  80.251510
5  Sai Baba Temple Mylapore  13.032698  80.264734
6           PVR Ampa SkyOne  13.073553  80.221499